<p>keybork.appliedpoetics.org ("Keybork") is dedicated to and completed in collaboration with Jenni B. Baker whose wireless computer keybord one day, inexplicably, featured several keys which no longer worked. She coined the term from which this site takes its title, calling this mechanical failure a "keybork." We didn't know which keys didn't work and, from this experience, decided to make a tool which restricted use of keyboard keys at random based on a chosen difficulty.</p>
