<p>keybork.appliedpoetics.org ("Keybork") is dedicated to and was developed with <a href = "https://www.jennibbaker.com" target="_new">Jenni B. Baker</a> whose wireless computer keybord one day, inexplicably, featured several keys which no longer worked. She coined the term from which this site takes its title, calling this mechanical failure a "keybork." We didn't know which keys didn't work and, from this experience, decided to make a tool which restricted use of keyboard keys at random based on a chosen difficulty.</p>

<p>Keybork is a project of <a href = "https://www.appliedpoetics.org" target="_new">appliedpoetics.org</a>.
