<!DOCTYPE html>
  <head>
    <!-- BOOTSTRAP -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- BOOTSTRAP -->
    <!-- TYPEKIT -->
      <script src="https://use.typekit.net/vwg0vgf.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- TYPEKIT -->
    <!-- STYLESHEET -->
      <link rel="stylesheet" href = "css/style.css">
    <!-- STYLESHEET -->
    <!-- JAVASCRIPT -->
      <script src = "js/ui-functions.js"></script>
      <script src = "js/menu-functions.js"></script>
      <script src = "js/line-numbers.js"></script>
      <script src = "js/app-router.js"></script>
    <!-- JAVASCTIPT -->
    <!-- META -->
      <title></title>
    <!-- META -->
  </head>
  <body>
    <div id = "wrapper">
      <div id = "menu">
        <nav>
          <div id = "option-container">
            {{#menu}}
              <div class = "dropdown" tabindex = "0" id = "options">
                <button class="drop-btn" autocomplete="off" title="" data-method = "{{data-method}}">{{label}}</button>
                {{#options}}
                    <div class = "dropdown-content">
                      {{#entries}}
                        <a href = "#" data-method="{{label}}">{{label}}</a>
                      {{/entries}}
                    </div>
                {{/options}}
              </div>
            {{/menu}}
          </div>
        </nav>
        <div class = "dropdown" id = "diff-level" style = "right: 0;">
          
        </div>
      </div>
      <div id = "console">
        <form>
            <textarea name = "editContent" id = "editContent" rel = "popover"></textarea>
        </form>
        <script type="text/javascript">
          createTextAreaWithLines('editContent');
          $("#lineNumbers").prop("disabled", true);
        </script>
      </div>
    </div>
    <script>
        $(document).ready(function() {
          // TODO: Make createTextAreaWithLines a proper function
        });
        $(window).resize(function() {
            createTextAreaWithLines('editContent');
        });
    </script>
    <div class = "modal-window" id = "diff-modal" tabindex = "-1">
      <div class = "modal-title">Difficulty</div>
      <div class = "modal-wrapper">
        <h2>Restricted keys</h2>
        <p>You can no longer use the following keys:</p>
        <div class = "modal-text"></div>
      </div>
    </div>
    <div class = "modal-window" id = "about-modal" tabindex = "-1">
      <div class = "modal-title">About</div>
      <div class = "modal-wrapper">
        <div class = "modal-text">{{> about}}</div>
      </div>
    </div>
  </body>
</html>